
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
                <input #itemTitle type="text" class="form-control" placeholder="Add To Do List">    
                <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
                    <i class="fas fa-plus-circle fa-3x"></i>
                </div>
            </div>
            
            <div class="data">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let list of lists; let idx = index">
                        <span class="hover-cursor" (click)="createListComponent(list)">
                            {{list.title}}
                        </span>
                        <span class="hover-cursor text-danger pull-right">
                            <i class="fas fa-trash-alt" (click)="onDelete(list.id,idx)"></i>
                        </span>
                    </li>
                </ul>
            
            </div>
        </div>
        <div class="col-md-6">
            <ng-template appList></ng-template>
            <!-- <app-list [id]="listId"></app-list> -->
        </div>
    </div>
</div>

