
.data li{
    background:#e6f7ff;
    /* border: solid 1px #1ab2ff; */
    /* border-left: 4px solid#1ab2ff; */
    border-radius: 4%;;
    padding: 10px;
    margin: 5px 5px;
    color: #666;
    font-family: "Raleway";
    font-weight: bold;
}